.flier > * {
  animation: fly 50s linear infinite;
  bottom: 0;
  right: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: .75s;
  z-index: 999999;
}

@keyframes fly {

  98.001%,
  0% {
    display: block;
    transform: translateX(-175%) translateY(100vh) rotateZ(10deg);}

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(80deg);}

  15.001%,
  18% {
    transform: translateX(200vw) translateY(-30%) rotateZ(0deg);}

  40% {
    transform: translateX(-200%) translateY(30vh) rotateZ(-180deg);}

  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg);}

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(80deg);}

  65.001%,
  68% {
    transform: translateX(200vw) translateY(-200%) rotateZ(180deg);}

  95% {
    transform: translateX(100vw) translateY(100vh) rotateZ(90deg);}
}
