html {
  transition: 1s;
}

html::before {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 799px) {
  html {
    background-color: orange;
  }

  header {
    color: darkred;
  }
  a {
    color: darkred;
  }

  #scroll-container {
    background-color: orange;
  }

  #scroll-container-2 {
    background-color: orange;
  }

  #scroll-container-3 {
    background-color: orange;
  }

  #about {
    color: darkred;
  }

  #home {
    color: darkred;
  }

  a:link {
    text-decoration: none;
  }

 a:visited {
    color: darkred;
  }

 a:hover {
    text-decoration: overline;
    text-decoration-style: solid;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  html {
    background-color: salmon;
  }
  header {
    color: purple;
  }
  a {
    color: purple;
  }

  #scroll-container {
    background-color: salmon;
  }

  #scroll-container-2 {
    background-color: salmon;
  }

  #scroll-container-3 {
    background-color: salmon;
  }

  #about {
    color: purple;
  }

  #home {
    color: purple;
  }

  a:link {
    text-decoration: none;
  }

 a:visited {
    color: purple;
  }

 a:hover {
    text-decoration: overline;
    text-decoration-style: solid;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  html {
    background-color: darkred;
  }

  header {
    color: salmon;
  }

  a {
    color: salmon;
  }

  #scroll-container {
    background-color: darkred;
  }

  #scroll-container-2 {
    background-color: darkred;
  }

  #scroll-container-3 {
    background-color: darkred;
  }

  #about {
    color: salmon;
  }

  #home {
    color: salmon;
  }

  a:link {
    text-decoration: none;
  }

 a:visited {
    color: salmon;
  }

 a:hover {
    text-decoration: overline;
    text-decoration-style: solid;
  }
}

@media (min-width: 1200px) and (max-width: 9999px) {
  html {
    background-color: purple;
  }

  header {
    color: white;
  }
  a {
    color: darkred;
  }

  #scroll-container {
    background-color: purple;
  }

  #scroll-container-2 {
    background-color: purple;
  }

  #scroll-container-3 {
    background-color: purple;
  }

  #about {
    color: white;
  }

  #home {
    color: white;
  }

  a:link {
    text-decoration: none;
  }

 a:visited {
    color: white;
  }

 a:hover {
    text-decoration: overline;
    text-decoration-style: solid;
  }
}
