html {
  background-color: teal;
}

header {
  font-family: 'Righteous', cursive;
  font-size: 200%;
  color: lightblue;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

h1,
p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
}

nav {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  font-size: 125%;
}

a {
  font-family: 'Righteous', cursive;
  color: white;
  line-height: 1.5;
}

 a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: overline;
  text-decoration-style: solid;
}
