html {
  background-color: teal;
}

header {
  font-family: Righteous, cursive;
  font-size: 200%;
  color: salmon;
  text-align: right;
  position: fixed;
  bottom: 150px;
  right: 20px;
}

h1,
p {
  font-family: Montserrat, sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: lightblue;
  line-height: 1.5;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
  font-size: 125%;
}

a {
  font-family: Righteous, cursive;
  color: white;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: overline;
  text-decoration-style: solid;
}

img {
  width: 100vw;
  height: auto;
  display: flex;
  object-fit: contain;
}

#flier {
  max-width: 50%;
  height: auto;
}

#about {
  font-family: Montserrat, sans-serif;
  font-size: 200%;
  max-height: 100%;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}

#contact {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#home {
  text-align: center;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 75%;
}

#gallery {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: left;
  opacity: 75%;
}
